* {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f5f2ec;
}

.chat-bubble {
  position: relative;
  background: transparent;
  border-radius: .4em;
  border: 3px solid #555;
  height: 250px;
  width: 100%;
}

.chat-bubble:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 40%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-right-color: #555;
  border-left: 0;
  border-bottom: 0;
  margin-left: -20px;
}

.chat-bubble:after {
  content: '';
  position: absolute;
  left: -30px;
  top: 38%;
  bottom: 114px;
  border: 40px solid transparent;
  border-right-color: #f5f2ec;
  border-left: 0;
  border-bottom: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 568px) {
  .container {
    padding: 450px 0 0;
  }

  .my-img {
    width: 700px;
    height: auto;
  }

  .bubble-container {
    position: absolute;
    right: 65px;
    width: 500px;
  }
}
